<form name="snkrForm" ng-submit="snkrForm.$valid && shoeCtrl.addNewShoe()" novalidate>
	<div class="form-group" ng-class="{'has-error': !shoeCtrl.newShoe.image}">
		<label class="control-label">Image</label>
			<input class="form-control" type="text" ng-model="shoeCtrl.newShoe.image">
	</div>
	<div class="form-group" ng-class="{'has-error': !shoeCtrl.newShoe.brand}">
		<label class="control-label">Brand</label>
			<input class="form-control" type="text" ng-model="shoeCtrl.newShoe.brand" required>
	</div>
	<div class="form-group" ng-class="{'has-error': !shoeCtrl.newShoe.name}">
		<label class="control-label">Shoe Name</label>
			<input class="form-control" type="text" ng-model="shoeCtrl.newShoe.name" placeholder="Air Jordan, Foamposites, etc..">
	</div>
	<div class="form-group" ng-class="{'has-error': !shoeCtrl.newShoe.sport}">
		<label class="control-label">Sport</label>
			<input class="form-control" type="text" ng-model="shoeCtrl.newShoe.sport">
	</div>
	<div class="form-group" ng-class="{'has-error': !shoeCtrl.newShoe.size}">
		<label class="control-label">Size</label>
			<input class="form-control" type="text" ng-model="shoeCtrl.newShoe.size">
	</div>
	<div class="form-group" ng-class="{'has-error': !shoeCtrl.newShoe.colorway}">
		<label class="control-label">Colorway</label>
			<input class="form-control" type="text" ng-model="shoeCtrl.newShoe.colorway">
	</div>
	<div class="form-group" ng-class="{'has-error': !shoeCtrl.newShoe.price}">
		<label class="control-label">Price</label>
			<input class="form-control" type="text" ng-model="shoeCtrl.newShoe.price">
	</div>
	<div class="form-group" ng-class="{'has-error': !shoeCtrl.newShoe.released}">
		<label class="control-label">Date Released</label>
			<input class="form-control" type="text" ng-model="shoeCtrl.newShoe.released">
	</div>
	<div class="form-group" ng-class="{'has-error': !shoeCtrl.newShoe.acquired}">
		<label class="control-label">Date Acquired</label>
			<input class="form-control" type="text" ng-model="shoeCtrl.newShoe.acquired">
	</div>
		<input type="submit" value="Add to My Sneaker Box" class="btn btn-primary" ng-disabled="snkrForm.$invalid">
</form>
