<div id="snkrBox" class="snkrDrop">
	<h3>This Week</h3>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Brand</th>
			<th>Shoe Name</th>
			<th>Sport</th>
			<th>Colorway</th>
			<th>Price</th>
			<th>Date Acquired</th>
	</thead>
	<tbody id="shoelist">
		<tr ng-repeat="(shoeId, shoe) in shoeCtrl.shoes">
			<td><span data-drag="true" jqyoui-draggable><img class="showKicks image" ng-src="{{shoe.image}}"></span></td>
			<td>{{shoe.brand}}</td>
			<td><span data-drag="false" jqyoui-draggable>{{shoe.name}}</span></td>
			<td>{{shoe.sport}}</td>
			<td>{{shoe.colorway}}</td>
			<td><span class="currency-default">{{shoe.price | currency}}</span></td>
			<td>{{shoe.acquired}}</td>
			<td>
				<a class="btn btn-info" href="/#/{{shoeId}}">Show</a>
				<a class="btn btn-info" href="/#/{{shoeId}}/edit">Edit</a>
				<button ng-click="shoeCtrl.removeShoe(shoeId)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

