<div id="snkrBox" class="drop">
	<h3>This Week's Top 5</h3>
	<h6>Drag & drop shoe image</h6>
	<div class="topPicks">
		<div class="top1"></div>
		<div class="top2"></div>
		<div class="top3"></div>
		<div class="top4"></div>
		<div class="top5"></div>
	</div>
</div>
<script type="text/javascript"> 
	$("#snkrBox").hide().show(1250);	

	$('div.drop').droppable( {
		drop: handleDropEvent
	});

function handleDropEvent( event, ui ) {
  var draggable = ui.draggable;
  alert( 'Drop in my Top 5!' );
}
</script> 
</br>
<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Brand</th>
			<th>Shoe Name</th>
			<th>Sport</th>
			<th>Price</th>
			<th>Date Acquired</th>
	</thead>
	<tbody id="shoelist">
		<tr ng-repeat="(shoeId, shoe) in shoeCtrl.shoes">
			<td><span data-drag="true" jqyoui-draggable ><img class="showKicks" ng-src="{{shoe.image}}"></span></td>
			<td>{{shoe.brand}}</td>
			<td>{{shoe.name}}</td>
			<td>{{shoe.sport}}</td>
			<td><span class="currency-default">{{shoe.price | currency}}</span></td>
			<td>{{shoe.acquired}}</td>
			<td>
				<a class="btn btn-info" href="/#/{{shoeId}}">Show</a>
				<a class="btn btn-info" href="/#/{{shoeId}}/edit">Edit</a>
				<button ng-click="shoeCtrl.removeShoe(shoeId)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

