body {
	background-image: url('/images/white_carbonfiber.png');
}
#container{
	background-image: url("http://i.ytimg.com/vi/V9C-UidlC8I/maxresdefault.jpg");
	height: 111px;
 -webkit-filter: invert(.8);
  filter: invert(.8);
	background-repeat: no-repeat;
  background-size: cover;
	opacity: .5;
}

#navbar {
	margin-left: 25px;
}

h1{
	color: #14648f;
	font-family: 'Faster One', cursive;
	font-size: 55px;
}

h2, h3{
	font-family: 'Teko', sans-serif;
	color: #262626;

}

.login {
	margin-left: 800px;
}
a:link{
	text-decoration: none;
}


th{
	color: #14648f;
	font-family: 'Teko', sans-serif;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-size: 20px;
}

td {
	text-align: center;
}

.snkrTop, .snkrPosts, .snkrNews, .snkrTweets{
	margin-left: 25px;
}

.snkrWeek {
	margin-left: 650px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.showKicks {
	max-width: 120px;
	max-height: 120px;
}

.show-page-image {
	max-width: 300px;
	max-height: 300px;

}

.form-group{
	margin-left: 25px;
}

.form-control{
	color: black;
}



.btn-primary {	
	margin-left: 25px;
	background-color: purple;
}

.btn-success {
	background-color: #2f5571;
}

.form-control {
	width: 450px;
}



#snkrBox {
		margin-left: 20px;
    padding: 5px;
		border: 2.5px solid white;
    height: 100px;
    width: 1000px;
		margin: 20px;
}

#snkrBox:hover {
	border-color: slategray;
}
