body {
	background-image: url('/images/white_carbonfiber.png');
}
#container{
	background-image: url("http://i.ytimg.com/vi/V9C-UidlC8I/maxresdefault.jpg");
	height: 111px;
 -webkit-filter: invert(.8);
  filter: invert(.8);
	background-repeat: no-repeat;
  background-size: cover;
	opacity: .5;
}

#navbar {
	margin-left: 25px;
}

h1{
	color: #14648f;
	font-family: 'Faster One', cursive;
	font-size: 55px;
}

h2, h3{
	font-family: 'Teko', sans-serif;
	color: #262626;

}

a:link{
	text-decoration: none;
}


th{
	color: darkgrey;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-size: 16px;
}

td {
	text-align: center;
	
}

.snkrTop, .snkrPosts, .snkrNews, .snkrTweets {
	margin-left:25px;
}

.snkrWeek{
	margin-left: 600px;

}

.showKicks {
	max-width: 200px;
	max-height: 200px;
}

.show-page-image {
	max-width: 300px;
	max-height: 300px;

}

.form-group{
	margin-left: 25px;
}

.btn-primary {	
	margin-left: 25px;
	background-color: purple;
}

.btn-success {
	background-color: #2f5571;
}

.form-control {
	width: 450px;
}
